
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

env/
venv/
ENV/
*.db
*.sqlite3

.DS_Store
Thumbs.db

/data/
*.csv
*.json
*.xml
*.txt
*.zip
*.tar.gz
*.h5
*.pt
*.pth
*.pb
*.ckpt
*.npz
*.npy

*.jpeg
*.jpg
*.png
*.gif
*.bmp
/outputs/
annotated_images/
*.log

.ipynb_checkpoints/
*.ipynb

.vscode/
.idea/
*.code-workspace

node_modules/

*.env
.env.*

*.tmp
*.bak
*.swp
*.old
